/*
	@name mask_group
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_mask_group_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__mask_group_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}

#mask_group_container {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__mask_group_container_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:#;
}

#desktop___1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__desktop___1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(82,105.33,227.79,0.65);
}


#rectangle_1 {
	top: 291px;
	left: 90px;
	width: 1005px;
	height: 608px;
	-ms-border-radius: 96px;
	-o-border-radius: 96px;
	-moz-border-radius: 96px;
	-webkit-border-radius: 96px;
	border-radius: 96px;
	background:rgba(243.09,179.88,179.88,1);
}


#services_persons {
	top: 70px;
	left: 58px;
	width: 900.5px;
	height: 135.5px;
	overflow: hidden;
	font-family: Kdam Thmor;
	font-size: 65px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_2 {
	top: 366px;
	left: 124px;
	width: 398px;
	height: 435px;
}


#tambaram {
	top: 317px;
	left: 655px;
	width: 533.5px;
	height: 118.5px;
	overflow: hidden;
	font-family: Kdam Thmor;
	font-size: 65px;
	text-align: left;
	color:#000000;
}


#name___ramalingam_experience__15__years_type__bike_mechanic {
	top: 464px;
	left: 582px;
	width: 456.5px;
	height: 272.5px;
	overflow: hidden;
	font-family: Kdam Thmor;
	font-size: 35px;
	text-align: left;
	color:#000000;
}

#hicon___bold___right_circle_2 {
	top: 521px;
	left: 1194px;
	width: 128px;
	height: 125px;
}

#_bg__hicon___bold___right_circle_2_ek1 {
	top: 0px;
	left: 0px;
	width: 128px;
	height: 125px;
	background:#;
}

#right_circle_2 {
	top: 10.42px;
	left: 10.67px;
	width: 106.67px;
	height: 104.17px;
}

#_bg__right_circle_2_ek1 {
	top: -10px;
	left: -11px;
	width: 106.67px;
	height: 104.17px;
	background:#;
}


#vector {
	top: 27px;
	left: -2px;
	width: 106.67px;
	height: 104.17px;
}


#rectangle_3 {
	top: 750px;
	left: 658px;
	width: 256px;
	height: 51px;
	background:rgba(133,148,228,1);
}


#call_now {
	top: 764px;
	left: 706px;
	width: 181.5px;
	height: 30.5px;
	overflow: hidden;
	font-family: Kokoro;
	font-size: 25px;
	text-align: left;
	line-height: 38px;
	margin-top: -4.3333333333333px;
	height: 55.5px;
	color:#000000;
}



/* Add your custom CSS here */
